html
  head
    title='Docker Assignment'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello cs1660!!!
        h2 Check out these pitt links
        p
          a.btn.btn-primary(href="https://pitt.edu" target="_blank") Pitt Home Page

          a.btn.btn-outline-primary(href="https://teaching.pitt.edu" target="_blank") Teaching Resources on Pitt
          
        p
        p if you are reading this in a web browser then submit your assignment. Please push up your image to Dockerhub

